body
{
  background-color: pink;
  color: blueviolet;
}

p
{
  color: black;
}
/*
you just have to tell what part of the code you want to custom,
like the p or the h1, and edit directly the properties,
the color, the background, the size, ect...
*/

.top
{
  background-color: #a7dbe3;
  width: 1000px;
}

/*
class and the properties coming with it,
can work with every tag.
*/

.bottom
{
  background-color: red;
  width: 1000px;
}

#first
{
  font-size: 15px;
}

/*
id and the properties coming with it, it works like class,
but you can only have one type of id per page.
*/

#second
{
  font-size: 20px;
}

span
{
  font-weight: bold;
  font-size: 25px;
}

/*
CSS box model under.

Margin : tell the size around the box or a part of it where nothing can be put,
so its basically creating a blank space around my box.
Border : got 3 properties that you can change : width, color and style.
Padding : same as Margin but inside the box, and with the background color.
*/

.box
{
  background: #a7dbe3;
  width: 400px;
  margin-left : 1000px;
  border-color: whitesmoke;
  border-width: 5px;
  border-style: solid;
  border-left: 5px solid blue;
  padding: 50px;
}

